<!-- accounts.html -->
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Tài khoản</title>
</head>
<body>
  <div style="padding: 20px;">
    <div style="display: flex; align-items: center;">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width="50" height="50" alt="avatar">
      <div style="margin-left: 10px;">
        {% if user.is_authenticated %}
            <div><strong>{{ user.name }}</strong><br></div>
            <div><span style="color: gray;">⭐ Thành viên</span></div>
        {% else %}
            <div><a href="{% url 'login' %}" style="color: black; text-decoration: none; font-weight: bold;">Chưa đăng nhập</a></div>
            <div><span style="color: gray;">⭐ Dùng thử</span></div>
        {% endif %}
      </div>
    </div>
    <hr>

    <p>Điểm tích lũy: <span style="color: red;">0 điểm</span></p>
    <p>Mã giới thiệu</p>
    <p>Doanh thu</p>

    <hr>
    <h3>Cài đặt</h3>
    <p>Thông tin tài khoản</p>
    <p>Danh sách địa chỉ</p>
    <p>Thông báo</p>

    <hr>
    <h3>Đơn hàng</h3>
    <p>Quản lý đơn hàng</p>
    <hr>
    <p><a href="{% url 'home' %}" style="color: orange;">Trang chủ</a></p>
    {% if user.is_authenticated %}
    <p><a href="{% url 'logout' %}" style="color: red;">Đăng xuất</a></p>
    {% endif %}
  </div>
</body>
</html>
